<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container class="flex-auto h-full">

        <!-- Drawer -->
        <mat-drawer class="w-80" [autoFocus]="false" [mode]="drawerMode" [opened]="drawerOpened" #matDrawer>

            <div class="flex flex-col flex-auto h-full dark:bg-default">

                <!-- Buy / Sell -->
                <div class="flex flex-col flex-auto shrink-0 pt-6 bg-gray-50 dark:bg-transparent">

                    <!-- Action -->
                    <div class="flex flex-col px-6 pb-2">
                        <mat-form-field>
                            <mat-label>VS Currency</mat-label>
                            <mat-select (selectionChange)="sendCurrency()" #buySellSelect="matSelect"
                                [(ngModel)]="selectedCurrency">
                                <mat-option *ngFor="let currency of supportedCurrencies"
                                    [value]="currency">{{currency}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>

                <!-- Watchlist -->
                <div class="flex flex-col flex-0">
                    <div class="flex flex-0 items-center p-5 border-b" *ngFor="let item of trendingCurrencies">
                        <div (click)="selectCoin(item)" class="flex flex-col flex-auto pr-6 cursor-pointer">
                            <div class="flex items-baseline">
                                <div class="mr-1 font-medium text-md text-secondary">{{item.name}}</div>
                                <div class="font-medium text-sm text-hint uppercase tracking-wider">({{item.symbol}})
                                </div>
                            </div>
                            <div class="flex items-end mt-2">
                                <div class="min-w-20 font-mono text-2xl tracking-tighter leading-none">
                                    {{item.current_price | currency:'USD':'symbol':'1.2-4'}}
                                </div>
                                <mat-icon class="text-green-500 icon-size-3.5 mx-0.5 mb-px"
                                    [ngClass]="{'text-green-500': item.price_change_percentage_24h > 0, 'text-red-500': item.price_change_percentage_24h < 0}"
                                    [svgIcon]="item.price_change_percentage_24h > 0 ? 'heroicons_mini:arrow-long-up' : 'heroicons_mini:arrow-long-down'"></mat-icon>
                                <div class="font-mono font-medium text-sm leading-none mb-px"
                                    [ngClass]="{'text-green-500': item.price_change_percentage_24h > 0, 'text-red-500': item.price_change_percentage_24h < 0}">
                                    {{item.price_change_percentage_24h}}%
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </mat-drawer>

        <!-- Content -->
        <mat-drawer-content class="flex flex-col">

            <!-- Coin Price -->
            <div class="flex flex-col flex-auto min-h-full bg-card dark:bg-default">
                <div class="flex flex-wrap items-center pl-4 pr-6 py-3 md:pl-6 border-b">
                    <button class="mr-6 lg:hidden" mat-icon-button (click)="matDrawer.toggle()">
                        <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
                    </button>
                    <div class="flex flex-col flex-auto my-3 mr-6">
                        <div class="flex items-center">
                            <div class="font-medium text-2xl text-secondary mr-2">{{selectedCoin.name}}</div>
                            <div class="font-medium text-lg text-hint tracking-wider">({{selectedCoin.symbol}})</div>
                        </div>
                    </div>
                </div>
                <div *ngIf="btcOptions" class="relative flex flex-auto bg-gray-50 dark:bg-transparent">
                    <apx-chart class="relative w-full h-160 md:absolute md:inset-0 md:h-auto overflow-hidden"
                        [chart]="btcOptions.chart" [colors]="btcOptions.colors" [dataLabels]="btcOptions.dataLabels"
                        [grid]="btcOptions.grid" [legend]="btcOptions.legend" [series]="btcOptions.series"
                        [stroke]="btcOptions.stroke" [tooltip]="btcOptions.tooltip" [xaxis]="btcOptions.xaxis"
                        [yaxis]="btcOptions.yaxis" #btcChartComponent></apx-chart>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>

</div>